.item {
  max-width: 800px;
  margin: auto;
  list-style-type: none;
  background: #FAFAFA;
  margin-bottom: 3%;
  border-radius: 2px;
  border: 1.5px solid lightgrey;
  box-shadow: 1px 1px 0.5px lightgrey;
  padding: 3% 3%;
  overflow: auto;
}

.coverImage {
  float: right;
  width: 26%;
  height: auto;
  border-radius: 3px;
}

.date {
  margin: 0;
  font-size: 13px;
  color: #000032;
  display: inline-block;
}

.date:visited {
  color: #000032;
}

.title {
  width: 70%;
  color: #000032;
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
}

.description {
  width: 70%;
  text-align: left;
  max-width: 530px;
  font-size: 1.2rem;
  color: #000032;
}

.readMore {
  font-size: 13px;
  margin: 0 0 10px;
  width: 100px;
  color: #808099;
  transition: color 0.3s ease;
}

.readMore:hover {
  color: #16e0ff;
}

.description code {
  background-color: lightgrey;
}

.calendar {
  position: relative;
  top: 3px;
  width: 17px;
  height: 17px;
  margin-right: 7px;
}

.subTitle {
  margin: 15px 0;
  font-size: 20px;
  color: #808099;
  font-weight: 500;
}

@media (max-width: 740px) {
  .item {
    margin: 0 0 5%;
  }

  .title {
    font-size: 1rem;
  }

  .description {
    font-size: .6rem;
  }

  .calendar{
    width: 13px;
    height: 15px;
  }

  .readMore {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }
}