.item {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  list-style-type: none;
  background: #FAFAFA;
  margin-bottom: 3%;
  border-radius: 2px;
  border: 1.5px solid lightgrey;
  box-shadow: 1px 1px 0.5px lightgrey;
  padding: 2% 2%;
  overflow: hidden;
}

.imageContainer {
  float: right;
  padding-left: 20px;
  width: 18%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.coverImage {
  border-radius: 3px;
  width: 100%;
  height: auto;
}

.date {
  margin: 0;
  font-size: 13px;
  color: #000032;
  display: inline-block;
}

.date:visited {
  color: #000032;
}

.title {
  width: 75%;
  color: #000032;
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
  transition: color .3s ease;
}

.title:hover, .subTitle:hover {
  color: #16e0ff;
}

.description {
  width: 70%;
  text-align: left;
  max-width: 530px;
  font-size: 1.2rem;
  color: #000032;
}

.readMore {
  font-size: 13px;
  margin: 0 0 10px;
  width: 100px;
  color: #808099;
  transition: color 0.3s ease;
}

.readMore:hover {
  color: #16e0ff;
}

.calendar {
  position: relative;
  top: 3px;
  width: 15px;
  height: 16px;
  margin-right: 7px;
}

.subTitle {
  width: 75%;
  margin: 12px 0 0;
  font-size: 21px;
  color: #808099;
  font-weight: 500;
  transition: color .3s ease;
}

@media (max-width: 740px) {
  .item {
    margin: 0 0 3%;
  }

  .title {
    font-size: 1.2rem;
  }

  .imageContainer {
    width: 90px;
  }

  .description {
    font-size: .6rem;
  }

  .calendar{
    width: 13px;
    height: 15px;
  }

  .readMore {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }

  .subTitle {
    font-size: 16px;
  }
}