body {
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: large;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (max-width: 1024px) {
  body {
    font-size: medium;
  }
}