<div>
  <h1>NEW BLOG POST</h1>
  <form action="/api/blog" method="POST">
    <input type="file" name="coverImage">
    <input type="text" name="description" placeholder="Description" />
    <input type="submit">
  </form>
</div>