<div>
  <h1>NEW BLOG POST</h1>
  <div class="block">
    <input type="text" id="title" name="title" class="title" placeholder="Title">
  </div>
  <div class="block">
    <input type="file" id="coverImage" name="coverImage">
  </div>
  <div class="block">
    <textarea rows="20" cols="100" id="description" class="description" placeholder="Description"></textarea>
  </div>
  <div class="block">
    <button type="button" id="submit" onclick="sendBlog()">Submit</button>
  </div>
</div>
<style>
  .title {
    width: 500px;
    height: 40px;
    font-size: 20px
  }

  .description {
    width: 500px;
    height: 300px;
    font-size: 16px
  }

  .block {
    margin-bottom: 30px;
  }
</style>

<script>
  function sendBlog(){
    const title = document.getElementById('title').value;
    const coverImage = document.getElementById('coverImage').files[0];
    const description = document.getElementById('description').value;

    const button = document.getElementById('submit');
    button.setAttribute('disabled', 'true')
    
    const reader = new FileReader();
    let payload = {
      title,
      description,
    }

    reader.addEventListener('load', () => {
      payload.coverImage = reader.result;
      makeRequest(payload, button);
    }, false)

    if(coverImage) {
      reader.readAsDataURL(coverImage);
    }
  }

  function makeRequest(payload, button){
    const URL = '/api/blog';
    const xhr = new XMLHttpRequest();
    xhr.open('POST', URL);
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.onreadystatechange = () => {
      if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
        button.removeAttribute('disabled');
        window.location.href = '/api/blog';
      } else {
        const p = document.createElement('p');
        document.body.appendChild(p);
        p.innerHTML = xhr.resonseText;
      }
    }
    xhr.send(JSON.stringify(payload));
  }

</script>