<div>
  <h1>NEW BLOG POST</h1>
  <input type="text" id="title" name="title" placeholder="Title">
  <input type="file" id="coverImage" name="coverImage" value="">
  <input type="text" id="description" name="description" placeholder="Description" />
  <button type="submit" onclick="sendBlog()">Submit</button>
</div>
<script>
  function sendBlog(){
    // disable submit when clicked
    const title = document.getElementById('title').value;
    const coverImage = document.getElementById('coverImage').files[0];
    const description = document.getElementById('description').value;
    
    const reader = new FileReader();
    let payload = {
      title,
      description,
    }

    reader.addEventListener('load', () => {
      payload.coverImage = reader.result;
      makeRequest(payload);
    }, false)

    if(coverImage) {
      reader.readAsDataURL(coverImage);
    }
  }

  function makeRequest(payload){
    const URL = '/api/blog';
    const xhr = new XMLHttpRequest();
    xhr.open('POST', URL);
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.onreadystatechange = () => {
      // send to new page or display response text;
      console.log('RESPONSE', xhr.responseText);
    }
    xhr.send(JSON.stringify(payload));
  }

</script>