.container {
  max-width: 1020px;
  padding: 50px 5% 0;
  margin: auto;
  color: #000032;
}

.title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #02e5b8;
}

.pano {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container > hr {
  border: none;
  background-color: #eee;
  height: 1.9px;
  margin: 20px 0;
}

.about {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 40px;
}

.link {
  color: #098AF2;
}

.list {
  margin-bottom: 10px;
}

.techTitle {
  font-size: 1.2rem;
}

.technologies {
  font-size: 1.2rem;
  display: inline-block;
  padding-left: 10%;
}

.about > a:hover {
  color: #16e0ff;
}

.list > a:hover {
  color: #16e0ff;
}

@media (max-width: 740px) {
  .title {
    font-size: 1.8rem;
  }

  .about, .techTitle, .technologies {
    font-size: 1rem;
  }
}

