.container {
  max-width: 1000px;
  padding: 50px 5% 0;
  margin: auto;
  color: #000032;
}

.pano {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.heading {
  font-size: 2.4rem;
  color: #000032;
}

.container hr {
  border: none;
  background-color: #eee;
  height: 1.9px;
  margin: 35px 0;
}

.about {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 40px;
}

.link {
  color: #098AF2;
  transition: color 0.3s ease;
}

.link:hover {
  color: #16e0ff;
}

.list {
  margin-bottom: 10px;
}

.techTitle {
  font-size: 1.2rem;
}

.technologies {
  font-size: 1.2rem;
  display: inline-block;
  padding-left: 10%;
}


@media (max-width: 740px) {
  .title {
    font-size: 1.8rem;
  }

  .about, .techTitle, .technologies {
    font-size: 1rem;
  }

  .heading {
    font-size: 32px;
  }
}

