.container {
  min-width: 100%;
}

.intro {
  width: 45%;
  color: #000032;
  text-align: center;
  padding: 60px 0 0 27%;
}

.heading {
  font-weight: 600;
  line-height: 45px;
}

.subHeading {
  font-weight: 500;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

.profileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.description {
 margin: 0; 
 text-align: left;
}

@media (max-width: 630px) {
  .intro {
    width: auto;
    padding: 100px 20px 0;
  }

  .profileImage {
    width: 125px;
    height: 125px;
  }
}