.container {
  max-width: 1000px;
  padding: 50px 5% 0;
  margin: auto;
}

.intro {
  margin: 80px 0; 
  color: #000032;
}

.heading {
  font-size: 2.4rem;
  color: #000032;
}

.subHeading {
  font-size: 2.3rem;
  font-weight: 300;
  color: #808099;
}

.intro hr {
  border: none;
  background-color: #eee;
  height: 1.9px;
  margin: 30px 0;
}

.description {
  font-size: 1.6rem;
  line-height: 1.2;
}

@media (max-width: 740px) {
  .heading {
    font-size: 1.6rem;
  }

  .subHeading {
    font-size: 1.4rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .logo {
    width: 20px;
    height: 18px;
  }
}
