.container {
  max-width: 900px;
  min-height: 100%;
  padding: 0 5% 0;
  margin: 0 auto;
}

.intro {
  margin-top: 90px;
  color: #000032;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: #00b9ed;
}

.subHeading {
  font-size: 1.8rem;
  font-weight: 300;
  color: #808099;
}

.intro hr {
  border: none;
  /*max-width: 837px;*/
  background-color: #eee;
  height: 1.9px;
  margin: 30px 0;
}

.description {
  font-size: 1.3rem;
  line-height: 1.2;
}

@media (max-width: 900px) {
  .logo {
    width: 35px;
    height: 31px;
  }
}
