.container {
  margin: 0;
  width: 100%;
  height: 60px;
  padding-top: 30px;
}

.link {
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
  color: #000032;
  margin-left: 3.75em;
}

.homeLink {
  composes: link;
  margin-left: 5%;
}

.linkContainer {
  float: right;
  margin-right: 60px;
  text-align: right;
}

@media (max-width: 740px) {
  .menu {
    margin: 0;
    display: block;
    float: right;
    margin-right: 5%;
  }
  
  .bar {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000032;
    margin-bottom: 4px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .bar:first-child {
    margin-top: 0;
    transform-origin: 0% 0%;
  }

  .bar:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .open {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, -5px);
  }

  .open:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .open:nth-last-child(1){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  .linkContainer {
    display: none;
  }
}

