.container {
  margin: 0;
  min-width: 100%;
  background-color: white;
  height: 60px;
  padding-top: 30px;
}


.link {
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  color: #000032;
  margin-left: 60px;
  transition: .3s;
}

.link:hover {
  color: #098AF2;
}

.linkContainer {
  float: right;
  margin-right: 60px;
  text-align: right;
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .hamburger {
    margin: 0;
    display: block;
    float: right;
    margin-right: 40px;
  }
  
  .bar {
    width: 35px;
    height: 5px;
    background-color: #000032;
    margin: 6px 0;
  }

  .bar:first-child {
    margin-top: 0;
  }

  .homeLink {
    display: none;
  }

  .linkContainer {
    display: none;
  }
}

