.container {
  margin-top: 180px;
}

.contact {
  margin-top: 70px;
  padding: 0;
}

.contact li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1.9rem;
}

.copyright {
  font-size: 12px;
  color: #808099;
}

.logo {
  width: 21px;
  height: 22px;
}