.container {
  max-width: 1000px;
  padding: 50px 5% 0;
  margin: auto;
  color: #000032;
}

.heading {
  font-size: 2.4rem;
  color:#000032;
}

.container > hr {
  border: none;
  background-color: #eee;
  height: 1.9px;
  margin: 4.5% 0;
}

.list {
  padding: 0;
}

@media (max-width: 740px) {
  .heading {
    font-size: 32px;
  }
}