.container {
  max-width: 900px;
  padding: 50px 5% 0;
  margin: auto;
  color: #000032;
}

.title {
  font-size: 50px;
  font-weight: 500;
  color: #808099;
  margin-top: 20%;
  text-align: center;
}

.container > p {
  color: #808099;
  text-align: center;
}